<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BR</key>
	<array>
		<dict>
			<key>code</key>
			<string>AC</string>
			<key>name</key>
			<string>Acre</string>
		</dict>
		<dict>
			<key>code</key>
			<string>AL</string>
			<key>name</key>
			<string>Alagoas</string>
		</dict>
		<dict>
			<key>code</key>
			<string>AP</string>
			<key>name</key>
			<string>Amapá</string>
		</dict>
		<dict>
			<key>code</key>
			<string>AM</string>
			<key>name</key>
			<string>Amazonas</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BA</string>
			<key>name</key>
			<string>Bahia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CE</string>
			<key>name</key>
			<string>Ceará</string>
		</dict>
		<dict>
			<key>code</key>
			<string>DF</string>
			<key>name</key>
			<string>Distrito Federal</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ES</string>
			<key>name</key>
			<string>Espírito Santo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GO</string>
			<key>name</key>
			<string>Goiás</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MA</string>
			<key>name</key>
			<string>Maranhão</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MT</string>
			<key>name</key>
			<string>Mato Grosso</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MS</string>
			<key>name</key>
			<string>Mato Grosso do Sul</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MG</string>
			<key>name</key>
			<string>Minas Gerais</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PA</string>
			<key>name</key>
			<string>Pará</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PB</string>
			<key>name</key>
			<string>Paraíba</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PR</string>
			<key>name</key>
			<string>Paraná</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PE</string>
			<key>name</key>
			<string>Pernambuco</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PI</string>
			<key>name</key>
			<string>Piauí</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RJ</string>
			<key>name</key>
			<string>Rio de Janeiro</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RN</string>
			<key>name</key>
			<string>Rio Grande do Norte</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RS</string>
			<key>name</key>
			<string>Rio Grande do Sul</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RO</string>
			<key>name</key>
			<string>Rondônia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RR</string>
			<key>name</key>
			<string>Roraima</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SC</string>
			<key>name</key>
			<string>Santa Catarina</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SP</string>
			<key>name</key>
			<string>São Paulo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SE</string>
			<key>name</key>
			<string>Sergipe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>TO</string>
			<key>name</key>
			<string>Tocantins</string>
		</dict>
	</array>
</dict>
</plist>
